[Unit]
Description=Datenvogelauschen - A digital effort to protect our local fauna using data analysis
Documentation=https://github.com/jbohnst/datenvogelhauschen-software
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /opt/datenvogelhauschen/dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
